.body {
  height: 100vh;
  background-color: #fff;
  font-family: 'Fredoka', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 0.1fr auto 3.75rem;
  justify-items: center;
  grid-template-areas: "header" "main"  "footer"; }
  .body main {
    grid-area: main;
    width: 100%;
    background: linear-gradient(#fff, #43b2a6);
    display: flex;
    justify-content: center; }

@media only screen and (min-width: 768px) {
  .headerMobile {
    display: none; }
  .headerDesktop {
    grid-area: header;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-top: 2px solid #43b2a6;
    border-bottom: 2px solid #43b2a6;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .headerDesktop .nav {
      margin: 0px 10px 0px 10px;
      width: 100%;
      max-width: 1200px;
      height: 107.5px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .headerDesktop .nav .logo {
        width: 100px; }
      .headerDesktop .nav .container__btns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center; }
        .headerDesktop .nav .container__btns .btns__nav {
          margin-right: 30px; }
          .headerDesktop .nav .container__btns .btns__nav .btn__nav__bar {
            color: #0b2e66; }
            .headerDesktop .nav .container__btns .btns__nav .btn__nav__bar:hover {
              border-bottom: 2px solid #43b2a6; } }

@media only screen and (max-width: 768px) {
  .headerDesktop {
    display: none; }
  .headerMobile {
    grid-area: header;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-top: 2px solid #43b2a6;
    border-bottom: 2px solid #43b2a6;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .headerMobile .nav {
      margin: 0px 10px 0px 10px;
      padding: 0px;
      width: 100%;
      max-width: 1200px;
      min-height: 106px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .headerMobile .nav .container-fluid {
        padding: 0px; }
        .headerMobile .nav .container-fluid .logo {
          width: 100px; }
        .headerMobile .nav .container-fluid .btn__nav__color {
          background-color: #43b2a6;
          color: #43b2a6;
          border-radius: 4px; }
          .headerMobile .nav .container-fluid .btn__nav__color .span {
            color: #0b2e66; }
        .headerMobile .nav .container-fluid .container__btns {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center; }
          .headerMobile .nav .container-fluid .container__btns .btns__nav {
            margin-right: 30px; }
            .headerMobile .nav .container-fluid .container__btns .btns__nav .btn__nav__bar {
              color: #0b2e66; }
              .headerMobile .nav .container-fluid .container__btns .btns__nav .btn__nav__bar:hover {
                border-bottom: 1px solid #43b2a6; } }
      @media only screen and (max-width: 768px) and (max-width: 576px) {
        .headerMobile .nav .container-fluid .logo {
          width: 100px; } }

.footer {
  width: 100%;
  grid-area: footer;
  height: 3.75rem;
  background-color: #0b2e66;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .footer .container__footer {
    width: 100%;
    max-width: 1200px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    .footer .container__footer .footerText {
      color: #43b2a6;
      margin: 0px; }
    .footer .container__footer .iconos {
      display: flex;
      flex-wrap: nowrap; }
      .footer .container__footer .iconos .fa-brands {
        color: #43b2a6;
        margin: 10px; }
      .footer .container__footer .iconos .fa-regular {
        color: #43b2a6;
        margin: 10px; }

main .section__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .section__home .avatar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 40px;
    padding: 10px; }
    main .section__home .avatar .avatar__container {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .section__home .avatar .avatar__container .img__avatar {
        width: 200px;
        border: 1px solid transparent;
        border-radius: 50%; }
        main .section__home .avatar .avatar__container .img__avatar h1 {
          margin: 20px 0px 30px 0px; }
      main .section__home .avatar .avatar__container .descripcion {
        margin-bottom: 30px; }
        main .section__home .avatar .avatar__container .descripcion .interlineado {
          display: none; }
  @media only screen and (max-width: 768px) {
    main .section__home .avatar {
      margin: 0px;
      text-align: center;
      align-items: center; }
      main .section__home .avatar .descripcion {
        flex-direction: column; }
        main .section__home .avatar .descripcion .interlineado {
          display: flex;
          flex-direction: column;
          margin: 10px; } }
  main .section__home .borde {
    width: 100%;
    border-top: 3px solid #fff; }
  main .section__home .containerCards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 30px 0px; }
    main .section__home .containerCards .cards:hover {
      box-shadow: 0px 20px 35px 0px #0f0f0f5e;
      z-index: 1;
      transition: -webkit-box-shadow .2s ease-in-out;
      transition: box-shadow .2s ease-in-out;
      transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out; }

.card, main .section__home .containerCards .cards {
  width: 100%;
  max-width: 350px;
  min-width: 255px;
  height: 500px;
  margin: 20px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 1px #0f0f0f5e; }
  .card .img__producto, main .section__home .containerCards .cards .img__producto {
    width: auto;
    max-width: 224px; }
    .card .img__producto .img__txt, main .section__home .containerCards .cards .img__producto .img__txt {
      display: flex;
      align-self: self-start;
      margin-left: 10px; }

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main section .encabezado {
    width: 100%;
    max-width: 1600px;
    margin: 40px 0px 20px 0px;
    background-color: #0b2e66;
    height: 150px;
    display: flex;
    align-items: center; }
    main section .encabezado .txt__container {
      width: 100%;
      max-width: 1600px;
      padding-top: 35px;
      padding-bottom: 35px;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff; }
      main section .encabezado .txt__container h1 {
        font-size: 3rem;
        color: #fff;
        margin-left: 50px;
        margin-bottom: 0; }
  @media only screen and (max-width: 576px) {
    main section .encabezado {
      text-align: center; }
      main section .encabezado .txt__container h1 {
        margin: 0px; } }
  main section .avatar__sobreMi {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 70px 30px 50px 30px;
    align-items: baseline;
    justify-content: space-around; }
    main section .avatar__sobreMi .avatar__container {
      justify-content: center; }
      main section .avatar__sobreMi .avatar__container .img__avatar {
        width: 200px;
        border: 1px solid transparent;
        border-radius: 20px; }
      @media only screen and (max-width: 768px) {
        main section .avatar__sobreMi .avatar__container .img__avatar {
          margin-left: 10px; } }
      main section .avatar__sobreMi .avatar__container p {
        margin-left: 40px;
        margin-top: 60px;
        width: 200px; }
        main section .avatar__sobreMi .avatar__container p .interlineado {
          display: flex;
          flex-direction: column;
          margin: 10px; }
    main section .avatar__sobreMi .avatar__txt {
      width: 500px;
      margin: 0px 20px 0px 20px;
      padding: 0px 10px 0px 10px;
      display: flex;
      align-content: space-around;
      flex-direction: column; }
      main section .avatar__sobreMi .avatar__txt .titulo__avatar {
        font-size: 2.5rem;
        text-align: center; }
      main section .avatar__sobreMi .avatar__txt .interlineado {
        display: flex;
        flex-direction: column;
        margin: 10px; }
  @media only screen and (max-width: 576px) {
    main section .avatar__sobreMi {
      display: flex;
      flex-wrap: wrap;
      margin: 30px 5px 30px 5px;
      justify-content: center; }
      main section .avatar__sobreMi .avatar__container .img__avatar {
        margin-left: 0px; }
      main section .avatar__sobreMi .avatar__container p {
        display: none; }
      main section .avatar__sobreMi .avatar__txt {
        display: flex;
        margin: 20px; }
        main section .avatar__sobreMi .avatar__txt h1 {
          margin: 20px 0px 20px 0px;
          text-align: center; }
        main section .avatar__sobreMi .avatar__txt .interlineado {
          display: flex;
          flex-direction: column;
          margin: 10px; } }

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main section .titulo__consultas {
    color: #0b2e66; }
  main section .article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 0px 10px; }
    main section .article .redes {
      display: flex;
      flex-direction: column; }
      main section .article .redes .tituloRedes {
        color: #0b2e66;
        margin: 20px 0px; }
      main section .article .redes .iconos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }
        main section .article .redes .iconos a {
          margin: 20px 0px;
          color: #0b2e66;
          font-weight: bold; }
          main section .article .redes .iconos a .fa-brands {
            color: #0b2e66;
            margin: 10px; }
          main section .article .redes .iconos a .fa-regular {
            color: #0b2e66;
            margin: 10px; }
    main section .article .form {
      padding: 20px;
      margin: 30px 0px;
      width: 93vw;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 2px solid #0b2e66;
      border-radius: 7px;
      box-shadow: 0px 0px 5px 1px #0f0f0f5e; }
      main section .article .form:hover {
        box-shadow: 0px 20px 35px 0px #0f0f0f5e;
        z-index: 1;
        transition: -webkit-box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out; }
      main section .article .form .labelFormContacto {
        color: #0b2e66;
        margin: 10px 0px 10px 10px; }
      main section .article .form .inputsFormContacto {
        height: 40px;
        width: 100%;
        max-width: 5800px;
        padding-left: 10px;
        border: 2px solid #0b2e66;
        border-radius: 4px;
        outline: none;
        background-color: #fff; }
      main section .article .form .textareaFormContacto {
        height: 150px;
        max-height: 150px;
        min-height: 150px;
        width: 100%;
        max-width: 5800px;
        padding: 10px;
        border: 2px solid #0b2e66;
        border-radius: 4px;
        outline: none;
        background-color: #fff; }
      main section .article .form .submitFormContacto {
        color: #43b2a6;
        height: 40px;
        width: 100%;
        max-width: 5800px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        background-color: #0b2e66;
        box-shadow: 0px 0px 5px 1px #0f0f0f5e; }
        main section .article .form .submitFormContacto:hover {
          box-shadow: 0px 20px 35px 0px #0f0f0f5e;
          z-index: 1;
          transition: -webkit-box-shadow .2s ease-in-out;
          transition: box-shadow .2s ease-in-out;
          transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
          background-color: #18448c; }
  @media only screen and (max-width: 768px) {
    main section .article {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center; }
      main section .article .redes {
        align-items: center; } }
