*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  ul{
      margin: 0;
      padding: 0;
  }
  
  li{
      margin: 0;
      padding: 0;
      list-style: none;
  }

  a{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  h1{
    color: #0b2e66;
  }

  h2{
    color: #0b2e66;
  }

  h3{
    color: #0b2e66;
  }

  p{
    color: #0b2e66;
  }