@import "_variables";

.footer{
    width: 100%;
    grid-area: footer;
    height: 3.75rem;
    background-color: $azulLogo;display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .container__footer{
        width: 100%;
        max-width: 1200px;
        margin: 0px 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;;
        .footerText{
            color: $verdeLogo;
            margin: 0px;
        }
        .iconosContainer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .iconos{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                .fa-brands{
                color: $verdeLogo;
                margin: 10px;
                }
                .fa-regular{
                    color: $verdeLogo;
                    margin: 10px; 
                }
            }  
        }
    }
    @media only screen and (max-width: 576px){
        .container__footer{
            margin: 0px;
            .footerText{
                margin-left: 10px;
            }
            .iconosContainer{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .iconos{
                    .fa-brands{
                        margin: 0px 10px;
                    }
                    .fa-regular{
                        margin: 0px 10px;
                    }
                }
            }
        }    
    }  
    
}